@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");
html {
  --block: 3rem;
  --purple: #5061ff;
  --violet: #b75cff;
  --blue: #2f00ec;
  --yellow: #ffce21;
  --sandstone: #ffd363;
  --limestone: #ffe99a;
  --grey: #c6c6c626;
  --temp-font: 'Raleway', sans-serif;
  --advice-font: 'Heebo', sans-serif;
  --tab-font: 'Gothic A1', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--purple);
}

body #main {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "weather-card" "advice" "tab-holder";
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

body #main #weather-card {
  background-color: var(--grey);
  height: calc(var(--block)*7);
  width: calc(var(--block)*7);
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: weather-card;
  position: relative;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
  margin: calc(var(--block)*.25);
}

body #main #weather-card #weather {
  opacity: 2;
  width: calc(var(--block)*7);
}

body #main #weather-card #temp {
  font-family: var(--temp-font);
  position: absolute;
  top: calc(var(--block)*1);
  left: calc(var(--block)*2);
  color: white;
  font-size: calc(var(--block)*2);
  cursor: default;
}

body #main #advice {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: advice;
  font-family: var(--advice-font);
  color: var(--limestone);
  text-shadow: 5px 4px 6px rgba(0, 0, 0, 0.25);
  font-size: calc(var(--block)*1);
  line-height: calc(var(--block)*1);
  padding-left: 10%;
  position: relative;
  cursor: default;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}

body #main #tab-holder {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tab-holder;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}

body #main .hourly {
  position: absolute;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}

body #main .daily {
  position: absolute;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}

body #main .journal {
  position: absolute;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
}

body #main .journal .pastLog > * {
  background-color: red;
}

.row-here {
  background: var(--limestone);
  border: solid 3px var(--blue);
  color: var(--violet);
  text-align: center;
  vertical-align: center;
}

#chart {
  height: 400px;
  width: 400px;
}

.hidden {
  opacity: 0;
}

.tab {
  background-color: var(--violet);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(var(--block)*1);
  margin: calc(var(--block)*.3);
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(var(--block)*5);
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.19);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.19);
  left: 30%;
  cursor: pointer;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  padding-top: 5px;
  font-family: var(--tab-font);
  color: var(--blue);
  font-size: calc(var(--block)*.6);
  font-weight: 600;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.28);
}

.tab:hover {
  background-color: var(--yellow);
}
/*# sourceMappingURL=style.css.map */